<IfModule mod_rewrite.c>
# That was ONLY to protect you from 500 errors
# if your server did not have mod_rewrite enabled

RewriteEngine On 
RewriteCond %{HTTP_HOST} ^kopislur.imamsetiawan.id [NC] 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_URI} !/dist
RewriteRule ^(.*)$ dist/$1 [L]
# Direct all requests to /public folder

</IfModule>